.CodeBy {
  text-align: center;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  color: #1e2222;
}

.CodeBy a {
  color: rgb(188, 140, 19);
  text-decoration: none;
}

.CodeBy .social-link {
  text-align: center;
  font-size: 25px;
}

.CodeBy a:hover {
  color: rgba(217, 79, 25, 0.886);
}

@media (max-width: 900px) {
  .CodeBy {
    text-align: center !important;
    font-size: 10px !important;
    margin: 0px !important;
  }
}
