.Projects {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 20px;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 10px;
  margin: 0 auto;
  line-height: 0;
  box-sizing: border-box;
}

.Inner-projects .small-image {
  margin-top: -20px !important;
  transition: all 350ms ease;
  cursor: pointer;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  /* margin: 0 auto; */
}

@media (max-width: 900px) {
  .Projects {
    grid-template-columns: 1fr;
  }

  .Inner-projects {
    display: flex;
    overflow: scroll;
  }

  .Inner-projects > div {
    flex: 1 0 50px;
    margin: 0 10px;
  }
}
